/**
* General Style
*/

* {
    font-family: "Lato", Lato, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
}

.alert {
    text-align: center;
}

.container {
    background-color: white;
    padding-top: 15px;
    border-radius: 15px;
}

.my-navbar {
    background-color: #0073a4;
}

.white-link {
    color: rgba(255, 255, 255, 0.8);
}

.white-link:hover {
    color: white;
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-brand:hover {
    color: white;
}

.my-inside-nav {
    width: 100%;
    padding: 0 25px;
    display: flex;
}

.my-menu-icon {
    display: inline-block;
    stroke: rgba(255, 255, 255, 1);
}

.my-menu-icon:hover {
    stroke: rgba(255, 255, 255, 0.8);
}

.my-profile {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.my-profile-pic {
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    margin: 0 11px;
    overflow: hidden;
}

.my-profile-pic img {
    max-width: 32px;
    max-height: 32px;
    display: block;
    margin: 0 auto;
}

.my-profile-name {
    padding: 0;
    margin: 0;
}

.my-profile a {
    color: rgba(255, 255, 255, 0.5);
}

.my-profile a:hover,
.my-menu-icon:hover {
    color: white;
    stroke: white;
    cursor: pointer;
}

.my-profile-pic:hover {
    cursor: pointer;
}

.dropdown-menu {
    left: auto !important;
    right: 0 !important;
}

/**
* Login Style
*/

.login {
    background: url("../img/login-bg.png");
}

.my-login-title {
    font-size: 20px;
    color: white;
    margin-bottom: 36px;
}

.my-register-title {
    font-size: 20px;
    color: white;
}

.blurred-bg {
    width: 440px;
    height: 370px;
    background: rgba(0, 0, 0, 0.5);
}

.my-form-login {
    width: 100%;
    height: 100%;
}

.my-input-login {
    width: 210px;
    margin-bottom: 16px;
}

input[type="text"],
input[type="password"] {
    font-size: 14px;
}

.my-login-submit {
    width: 210px;
    background-color: #4e94e5;
    font-size: 14px;
}

.my-login-icon {
    stroke: white;
}

.my-password-icon {
    stroke: white;
}

.my-bg-blue {
    background-color: #4e94e5;
    border: 0px;
}

.my-recover-password a {
    font-size: 14px;
    margin-top: 44px;
    color: white;
    text-decoration: underline;
}

.blurred-bg-register {
    width: 440px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
}

.blurred-bg-register select {
    width: 100%;
    height: 35px;
}

.footer {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 15px;
}

.wrong-credentials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(248, 79, 144, 0.5);
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.wrong-credentials h6 {
    color: white !important;
    margin-bottom: 0;
}

/**
* User Index
*
*/

.my-index-title {
    margin-top: 40px;
    text-align: center;
}

.home-table {
    margin-left: 15px;
    width: 50%;
}

.home-list {
    margin-right: 50px;
    width: 50%;
    overflow: scroll;
}

.home-body {
    top: 0;
}

/**
* Profile
*
*/

.profile-avatar {
    overflow: hidden;
}

.profile-avatar img {
    max-width: 256px;
    max-height: 256px;
}

.btn-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn-file + label {
    font-size: 1em;
    font-weight: 500;
    color: white;
    background-color: #17a2b8;
    display: inline-block;
    padding: 5px 8px;
    margin: 5px;
    border-radius: 5px;
}

.btn-file:focus + label,
.btn-file + label:hover {
    background-color: #17a2b8;
}

.btn-file + label {
    cursor: pointer;
}
